* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

figure, figcaption, img {
    margin: 0;
    padding: 0;
}

picture, img {
    max-width: 100%;
    display: block;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 62.5%;
}

:root {
    --primary-color: #f86250;
    --secondary-color: #183643;
    --font-img: #31c6db;
    --grey: #757575;

    --lg-xxx: 2.8rem;
    --lg-xx: 2.8rem;
    --lg-x: 2.8rem;
    --lg: 2rem;
    --md: 1.6rem;
    --sm: 1.4rem;
}


.navbar {
    width: 100%;
    display: grid;
    padding: 12px 12px 40px;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    justify-items: center;
}

.nav--left {
    display: flex;
    place-items: center;
    column-gap: 12px;
}

.nav--center {
    display: none;
}

.nav--right {
    display: none;
}

.underline {
    text-decoration: underline wavy var(--primary-color);
}

.text {
    line-height: 2.4rem;
    font-size: var(--md);
    color: var(--grey);
}

.text-lg-xx {
    font-size: var(--lg-xx);
}

.text-md {
    font-size: var(--md);
}

.text-sm {
    font-size: var(--sm);
}

.text-bold {
    font-weight: bold;
}

.link-sm {
    font-size: var(--md);
    color: var(--grey);
}

.link-sm:hover {
    color: #000000;
    text-decoration: underline;
}

.btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--md);
    background-color: white;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    padding: 12px calc(12px * 2);
    white-space: nowrap;
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    box-shadow: 8px 8px var(--secondary-color);
}

.btn-menu {
    justify-self: end;
}

.icon {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-sm {
    width: 24px;
    height: 24px;
}

.icon-md {
    width: 40px;
    height: 40px;
}

.icon-card {
    width: 60px;
    height: 60px;
    background-size: 70%;
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 50%;
}

.icon-logo {
    background-image: url('/assets/icons/huella-mascota.svg');
}

.icon-search {
    background-image: url('/assets/icons/busqueda.svg');

}

.icon-bag {
    background-image: url('/assets/icons/bolsa-de-compra.svg');
}

.icon-necklace {
    background-image: url('/assets/icons/collar.png');
}

.icon-menu {
    background-image: url('/assets/icons/menu-hamburguesa.svg');
}

.icon-face-cat {
    background-image: url('/assets/icons/cara-gato.png');
}

.icon-book {
    background-image: url('/assets/icons/libro.png');
}

.icon-bones {
    background-image: url('/assets/icons/hueso.png');
}

.color-primary {
    color: var(--primary-color);
}

.container {
    border: 2px solid black;
}

.container-sm {
    width: 90px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.grid {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

.flex-column {
    flex-direction: column;
}

.container__home {
    width: 100%;
    padding: 42px 16px 132px;
    gap: 62px;
    flex-flow: row wrap;
    justify-content: center;
}

.home__explore {
    margin-top: 24px;
    column-gap: 44px;
}

.home__explore-now {
    display: flex;
    column-gap: 44px;
}

.flex .btn:first-child {
    margin-right: 44px;
    align-self: center;
}

.home--left {
    max-width: 538px;
    min-height: 334px;
    justify-content: space-around;
}
.home--right {
    gap: 24px;
    justify-content: end;
}

.container__thing__pet {
    display: none;
}

.container__img {
    position: relative;
    z-index: 1;
    width: 252px;
    height: 350px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 16px 16px var(--primary-color);
}

.container__img::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 12.2px;
    left: 12px;
    width: inherit;
    height: inherit;
    border: 2px solid black;
    border-radius: inherit;
}

.img {
    width: 100%;
    height: 84%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    object-position: center;
    object-fit: cover;
}

.container__img__description {
    align-items: center;
    justify-content: space-evenly;
}

.container__img__description {
    height: 16%;
    background-color: white;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top: 2px solid black;
}


.container__meet {
    width: 100%;
    padding: 98px 16px 132px;
}

.h2:first-child {
    text-align: center;
}

.container__card-meet {
    margin-top: 48px;
    gap: 24px;
    place-content: center;
}

.card-meet {
    min-width: 256px;
    max-width: 300px;
    padding: 16px;
    border: 2px solid black;
    border-radius: 6px;
}

.card-meet__title {
    margin-bottom: 18px;
    display: grid;
    grid-template-columns: min-content auto;
    place-items: center;
    column-gap: 12px;
}

.text__img__description {
    font-weight: bold;
    font-size: var(--lg-x);
}

.h1 {
    font-size: var(--lg-xxx);
    line-height: 4rem;
}

.h2 {
    font-size: var(--lg-xx);
    line-height: 4rem;
}

.h3 {
    font-size: var(--lg);
}